.herotable {
  font-family: $font;
  th {
    color: $fg-color;
  }
  thead {
    @include border(bottom);
  }
  tr:nth-child(odd) td{
    background-color: rgb(255,255,255);
  }
  th, td {
    padding: 10px;
    color: $text-color;
    text-align: left;
    &:first-of-type {
      @include border(right);
    }
  }
}
